
<div class="card w-75">
  <div class="card-body">
    <form class="form-inline">
      <div class="form-group">
        <label for="name">First Name</label>
        <input type="text" class="form-control" id="firstName"
               [(ngModel)]="model.firstName" name="firstName">
      </div>

      <div class="form-group">
        <label for="name">Last Name</label>
        <input type="text" class="form-control" id="lastName"
               [(ngModel)]="model.lastName" name="lastName">
      </div>

      <div class="form-group">
        <label for="name">Email</label>
        <input type="text" class="form-control" id="email"
               [(ngModel)]="model.email" name="email">
      </div>
      <div class="form-group">
        <label for="name">Date of birthday</label>
        <input type="datetime-local" class="form-control" id="birthday"
               [(ngModel)]="model.birthday" name="birthday">
      </div>
      <div *ngIf="error">
        <span class="error">You should be at least 18 years old to use this app</span>
      </div>
      <div class="form-group">
        <label for="name">Phone number</label>
        <div class="input-group mb-1" *ngFor="let phone of model.phoneNumbers; let i = index;trackBy:trackByIndex;">
          <input type="text" class="form-control mr-2"
                 [(ngModel)]="model.phoneNumbers[i]" name="phoneNumber{{i}}" appPhoneMask>
          <button type="button" (click)="this.removePhone(i)" class="btn btn-warn">
            <i class="bi bi-x-circle"></i>
          </button>
        </div>
        <button type="button" (click)="this.addPhone()" class="btn btn-success">
          <i class="bi bi-plus-circle"></i>
        </button>
      </div>

      <div class="form-group mt-3">
        <button class="btn btn-primary" (click)="this.save()">Save</button>
      </div>
    </form>
  </div>
</div>
